<%- include ("./partials/header.ejs") %>
<main>
    <div class="content auth-container">
        <h1 class="head-login">Authentification</h1>
        <form id="login-form">
            <div>
                <div>
                    <label for="username">Nom d'utilisateur</label><br><input type="text" id="username" placeholder="Nom d'utilisateur" required><br>
                </div>
                <div>
                    <label for="password">Mot de passe</label><br><input type="password" id="password" placeholder="Mot de passe" required><br>
                </div>
            </div>
            <div>
                <button type="submit">Se connecter</button>
                <a href="/signup">S'inscrire</a>
            </div>
        </form>
    </div>
</main>
<%- include ("./partials/footer.ejs") %>