<%- include ("./partials/header.ejs") %>
<main>
    <h1>About us??? Are we supposed to say something?</h1>
    <div class="content other">
        <h1>Le projet VOCAMVR</h1>
        <div class="content-div">
            <h3>Quelle est la mission principale de VOCAMVR?</h3>
            <p>Vocamur vise à aider chacun à découvrir sa vocation en explorant différentes facettes de sa personnalité dans une introspection dirigée.</p>
        </div>
        <div class="content-div">
            <h3>À quel impact vous attendez-vous du projet VOCAMVR?</h3>
            <p>
                Nous espérons que, grâce à une aide sur l'orientation, chaque utilisateur puisse trouver ou créer une voie dans laquelle se diriger dans son parcours qui peut s'avérer très déroutant.
                Nous ne prétendons pas dicter une voie unique ou des voies exhaustives, mais avons pour objectif d'apporter à l'utilisateur une aide dans le parcours qui est le sien avant tout.
            </p>
        </div>
        <div class="content-div">
            <h3>D'où exactement vous vient l'idée de créer cette application?</h3>
            <p>
                J'ai beaucoup rencontré ces phrases-ci avec les nombreuses variantes sur le chemin que j'ai déjà parcouru:
            </p>
                <ul style="list-style: none;">
                    <li>&ldquo;Qu'est-ce que tu veux faire plus tard? &rdquo;</li>
                    <li>&ldquo;Quel projet as-tu pour l'avenir?&rdquo;</li>
                    <li>&ldquo;Vous devez avoir un but dans la vie sinon vous vous ferez seulement entraînés par les flots.&rdquo;</li>
                </ul>
            <p>
                Or à chaque fois, ces affirmations et ces interrogations me procuraient une grande frustration.
                Ces questions sont trop grandes et complexes, comment suis-je censé y répondre sans tout savoir?
            </p>
            <p>
                Les conseils que notre entourage nous procure ne peuvent qu'être limités. Mais notre connaissance est pareille, limitée.
                Sûrement, je me disais, il y a quelqu'un qui est en mesure de m'assister, ou un outil.
            </p>
            <p>
                Alors une fois je suis tombé sur le test RIASEC, je n'y comprenais que dalle. Je savais tout simplement que c'est censé nous orienter.
                En plus je n'aimais pas mes résultats. Je l'ai laissé de côté. Plus tard, cherchant des outils pour m'assister, je suis tombé dessus encore une fois.
                Apparemment cette approche pour l'orientation professionnelle a du crédit.
                Je lui ai donné une autre chance, puisque j'ai développé un intérêt pour des quiz d'évaluation de la personnalité.
                En le parcourant et en l'étudiant un peu plus, j'ai trouvé la méthode très fondée et intéressante.
            </p>
        </div>
    </div>
    <div class="content other">

    </div>
</main>
<%- include ("./partials/footer.ejs") %>